<% layout('layout') -%>

<div class="custom-container" ng-controller="UserSignUpCtrl">
  <div class="page-header">
    <h3>Regístrate</h3>
  </div>
  <blockquote>
    ¡Creemos tu nueva cuenta! Tenga en cuenta que la nueva contraseña debe tener al menos 4 caracteres.  
  </blockquote>
  <form name="signupForm" method="POST" class="form-horizontal" action="/signup" novalidate>
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Correo institucional</label>
      <div class="col-sm-7">
        <input type="email" name="email" id="email" placeholder="Correo institucional" autofocus class="form-control" ng-model="email" required/>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Contraseña</label>
      <div class="col-sm-7">
        <input type="password" name="password" id="password" placeholder="Contraseña" class="form-control" ng-model="psw" required ng-minlength="4"/>
        <div password-strength value="psw"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="col-sm-3 control-label">Confirmar Contraseña</label>
      <div class="col-sm-7">
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña" class="form-control" ng-model="psw1" required ng-minlength="4"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button type="submit" class="btn btn-success" ng-disabled="signupForm.$invalid || psw != psw1">
          <i class="fa fa-user-plus"></i> Crear Cuenta
        </button>

        <div class="alert-container" ng-show="psw != psw1 && psw1">
          <hr>
          <div class="alert alert-danger">Las contraseñas no coinciden!</div>
        </div>
        <div class="alert-container" ng-show="signupForm.password.$error.minlength">
          <hr>
          <div class="alert alert-danger">La contraseña debe tener al menos 4 caracteres de largo!</div>
        </div>
      </div>
    </div>
  </form>
</div>